$font-kreadon: 'Kreadon', sans-serif;
$font-montserrat: 'Montserrat', sans-serif;


$darkpurple: #572461;
$darkred: #71101e;
$purple: #c4a3ef;
$pink: #e4c2ff;
$lightpink: #efdcfe;
$light-color: #f7edff;
$text-color: #000;

$box-shadow: 0 0px 10px 0 rgb(165 169 176 / 30%);
$box-shadow-hover: 0 2px 20px 0 rgb(165 169 176 / 100%);
$delivery-shadow: 0 2px 5px 0 rgb(199 193 168 / 30%);

$transition: 0.2s ease-in-out;