@use '@/styles/variables.scss' as *;

.footer {
    position: relative;
    background-color: $purple;
    padding: 40px 0;
    margin-top: auto;
    width: 100%;
}
  
.container {
    display: flex;
    justify-content: space-between;
    //align-items: flex-start;
    max-width: 1312px;
    margin: 0 auto;
    padding: 0 0px;
    width: 100%;
    flex-wrap: wrap; // помогает при мобильной адаптации
  }

.logoContainer {
  flex: 2;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  @media (min-width: 1024px) {
    flex: 2 45%;
    max-width: 45%;
  }
  @media (max-width: 1024px) {
    flex: 0 0 100%;
    max-width: 100%;
  }

  a {
    display: block;
    width: 100%;
  }
}

.navWrapper {
  display: flex;
  flex: 2;
  //max-width: 780px;
  gap: 5px;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 40px;
}

.leftNavContainer {
    flex: 1;
    max-width: 320px;
    text-align: left;
    //padding: 20px;

    nav ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            margin: 8px 0;

            a {
                text-decoration: none;
                color: black;
                transition: color 0.3s;

                &:hover {
                    color: $darkpurple;
                }
            }
        }
    }
}

.rightNavContainer {
  flex: 1;
  text-align: right;
  max-width: 320px;
  //padding: 20px;

  nav ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
          margin: 8px 0;

          a {
              text-decoration: none;
              color: black;
              transition: color 0.3s;

              &:hover {
                  color: $darkpurple;
              }
          }
      }
  }
}
  
.socialIcons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;

    a {
        transition: opacity 0.3s;

        &:hover {
            opacity: 0.8;
        }
    }

    @media (max-width: 520px) {
      justify-content: flex-start;
    }
}
  
.copyright {
    max-width: 1312px;
    margin: 20px auto 0;
    padding: 0 20px;
    font-size: 14px;
    color: #666;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  
    p {
      margin: 5px 0;
    }
  
    a {
      color: inherit;
      text-decoration: none;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
  

  /* Адаптив: всё в колонку при ширине < 560px */
@media (max-width: 520px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }


  .navWrapper {
    flex-direction: column;
    max-width: 100%;
    align-items: flex-start;
  }

  .leftNavContainer,
  .rightNavContainer {
    max-width: 100%;
    text-align: left;
  }

  .logoContainer {
    justify-content: center;
    //margin-bottom: 20px;
  }
}